body{
    background-image :url("/images/spices-bg2.jpg");   
}
.container{
    padding-top: 300px;
    
}
h1{
color: aliceblue;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
text-align: center;

}
a:link, a:visited {
    background-color: #887d7d;
    color: white;
    padding: 20px 60px;
    text-align: center;
   
  }
  
  a:hover, a:active {
    background-color: red;
  }
  .form-container {
    background-color: #d4cbca;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 300px;
    padding:50px;
  }
footer
 {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
 }