<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css"/>
    <script src="https://kit.fontawesome.com/a41831aa8e.js" crossorigin="anonymous"></script>
    <script:src ="">
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
      integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>🌶️Spice Route</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar__container">
            <!-- <i class="fa-solid fa-pepper-hot"></i>-->
          <a href="home.html" id="navbar__logo">SPICE ROUTE</a>
          <div class="navbar__toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
          <ul class="navbar__menu">
            <li class="navbar__item">
           <!---->   <a href="home.html" class="navbar__links">HOME</a>
            </li>
            <li class="navbar__item">
              <a href="aboutus.html" class="selected-item">ABOUT US</a>
            </li>
            <li class="navbar__item">
              <a href="products.html" class="navbar__links">PRODUCTS</a>
            </li>
            <li class="navbar__item">
              <a href="contactus.html" class="navbar__links">CONTACT US</a>
            </li>
            <li class="navbar__btn">
              <a href="/index.html" class="button">SIGN OUT</a>
            </li>
          </ul>
        </div>
      </nav>
      
          </div>
          <div class="main">
            <div class="main__container">
              <div class="main__content">
                
                
                <p style="text-align: justify;"> Spice Route is a home based food establishment catering to the not so sweet toothes.We specialize in home made savouries,snacks and sauces from around the world.
                  Also checkout our collection of homemade organic spice powders and herb mixes.Let the flavours explode in your mouth!!!</p>
                
              </div>
              <div class="main__img--container">
                <img id="main__img" src="../images/spices-bg.jpg" />
              </div>
            </div>
          </div>
          <footer>
            <p>Copyright 2022 @ Spice route </p>
        </footer>
</body>
</html>