<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=Hi, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/home.css"/>
    <title>🍲Spice Route</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar__container">
        <a href="/" id="navbar__logo">SPICE ROUTE</a>
        <div class="navbar__toggle" id="mobile-menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <ul class="navbar__menu">
          <li class="navbar__item">
            <a href="/" class="navbar__links">HOME</a>
          </li>
          <li class="navbar__item">
            <a href="/" class="navbar__links">ABOUT US</a>
          </li>
          <li class="navbar__item">
            <a href="/" class="navbar__links">PRODUCTS</a>
          </li>
          <li class="navbar__item">
            <a href="/" class="navbar__links">CONTACT US</a>
          </li>
          <li class="navbar__btn">
            <a href="/index.html" class="button">SIGN OUT</a>
          </li>
        </ul>
      </div>
    </nav>
  </body>
</html>
